docs/user_manual/bridge_for_teams/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
observability/grafana/terraform/alerting-rules.json linguist-generated=true
clients/apps/electron/src/main/modules/synchronicity/control.proto text eol=lf
